@font-face {
    font-family: 'KFCClassicScript Medium';
    font-style: normal;
    font-weight: normal;
    src: local('KFCClassicScript Medium'), url('kfc_classic_script_by_dledeviant_dcf7t7h.woff') format('woff');
    }